{% extends 'core/base.html' %}

<!--Se carga la imagen-->
{%block background%}{% load static %}{% static 'core/assets/img/home-bg.jpg'%}{%endblock%}

<!-- se hacen headers dinamicos-->
{%block headers%}
<h1>Gerardo Ponce</h1>
<span class="subheading">Programador web</span>
<!--buscador-->
<div class="container">
    <div class="row">
        <div class="col-md-12 buscador">
            <form method="GET">
                <div id="custon-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" placeholder="Buscar" name="buscar">
                        <span class="input-group-list">
                            <i class = icon icon-search></i>
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            {%if posts %}
            {%for post in posts%}

            <!-- Post preview-->
            <div class="post-preview">
                <!--el nombre article viene de coder/templates/coder/article.html-->
                <a href="{% url 'article' post.slug%}">
                    <h2 class="post-title">{{post.titulo}}</h2>
                    <h3 class="post-subtitle">{{post.subtitulo}}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{post.autor}}</a>
                    {{post.fecha}}
                </p>
            </div>
            
            
            {%endfor%}
            {%else%}
            <h1>No hay articulos</h1>
            {%endif%}
            
            
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <!-- Pager-->
        </div>
    </div>
</div>
{% endblock %}